/* CSS code  */
* {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    display: inline;
}

ul li {
    padding: 5px 10px;
    display: inline;
    vertical-align: middle;
}

nav {
    background-color: #10243B;
    width: 100vw;
}

#one {
    text-transform: uppercase;
    background-color: #10243B;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 11pt;
    width: 100vw;
    padding: 20px 24vw 20px 0px;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#two {
    background-color: #10243B;
    text-transform: uppercase;
    color: #a3dde8;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
    width: 100vw;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#blue {
    background-color: #0088cc;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
}

img {
    vertical-align: middle;
}

body {
    padding: 0;
    margin: 0;
}

#heroSection {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), transparent), url(images/graduation.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#exploreMain {
    height: 400px;
    width: 100vw;
    background-color: #10243B
}

#exploreheader {
    height: 100px;
    width: 100vw;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.explorebox {
    height: 300px;
    width: 24.5%;
    display: inline-block;
}

#exploresection {
    height: 300px;
    width: 100vw;
    background-color: firebrick;
}

#patriotplaza {
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}

#ccnn {
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}

#college {
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#media {
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

.ataglance {
    height: 400px;
    width: 100vw;
    background-color: white;
}

.glancebox {
    height: 300px;
    width: 24.5%;
    display: inline-block;
}

#glancephoto {
    background-size: cover;
    position: center;
    margin: auto;
    height: 300px;
    padding-left: 20%
}

.glancetop {
    font-size: 1.875em;
    color: #ca0d33;
    margin-top: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.glancebottom {
    margin-bottom: 10px;
    font-size: 1.125em;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #00344C;
    text-align: center;
}