/* CSS code  */
* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

ul {
    list-style-type: none;
    display: inline;
}

ul li {
    padding: 5px 10px;
    display: inline;
    vertical-align: middle;
}

nav {
    background-color: #10243B;
    width: 100%;
}

#one {
    text-transform: uppercase;
    background-color: #10243B;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 11pt;
    width: 100%;
    padding: 20px 24vw 20px 0px;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#two {
    background-color: #10243B;
    text-transform: uppercase;
    color: #a3dde8;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
    width: 100%;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#blue {
    background-color: #0088cc;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
}

img {
    vertical-align: middle;
}

body {
    padding: 0;
    margin: 0;
}

/* HERO SECTION */

#heroSection {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), transparent), url(images/graduation.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* EXPLORE  */

#exploreMain {
    height: 400px;
    width: 100%;
    background-color: #10243B
}

#exploreheader {
    height: 100px;
    width: 100%;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.explorebox {
    height: 300px;
    width: 24.5%;
    display: inline-block;
}

#exploresection {
    height: 300px;
    width: 100%;
    background-color: firebrick;
}

#patriotplaza {
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}

#ccnn {
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}

#college {
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#media {
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

/* AT A GLANCE */

.ataglance {
    height: 400px;
    width: 100%;
    background-color: white;
    padding-bottom: 100px;
}

.glancebox {
    height: 300px;
    width: 24.8%;
    display: inline-block;
}

#glancephoto {
    background-size: cover;
    position: center;
    margin: auto;
    height: 300px;
    padding-left: 20%
}

.glancetop {
    font-size: 1.875em;
    color: #ca0d33;
    margin-top: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.glancebottom {
    margin-bottom: 10px;
    font-size: 1.125em;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #00344C;
    text-align: center;
}

/* COURSES OFFERED */

#coursesofferedtext {
    vertical-align: middle;
    text-align: center;
    background-color: #10243B;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

#coursesofferedtext {
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    box-sizing: content-box;
    width: 80%;
    margin: auto;
}

/* GRADUATED */

#graduatediv {
    height: 5px;
    width: 100%;
    color: black;
}

#graduateheader {
    text-align: center;
    font-size: 12px;
    text-transform: none;
    color: #00344C;
    margin-bottom: 30px;
    font-weight: bold;
    padding-top: 100px;
}

#graduatesection {
    height: 400px;
    width: 100%;
}

.graduateblock {
    height: 400px;
    width: 19.5%;
    display: inline-block;
}

#mit {
    background-image: url(images/mit.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#unc {
    background-image: url(images/northcarolina.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#um {
    background-image: url(images/um.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#wf {
    background-image: url(images/wakeforest.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#yale {
    background-image: url(images/yale.png);
    background-repeat: no-repeat;
    background-size: auto;
}

/* FOOTER */
#footer {
    width: 100%;
    height: 400px;
    background-color: #10243B;
    color: white;
}

#footernav {
    width: 100%;
    height: 50px;
}

#leftfoot,
#rightfoot {
    display: inline-block;
    padding-top: 12.5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

#rightfoot {
    float: right;
    padding-top: 11px;
}

#footercontent {
    height: 340px;
    width: 100%;
    background-color: #333;
}

#cchscontact{
    padding-top: 50px;
    padding-left: 10%;
}

#sitemap{
    padding-right: 10%;
}

.right {
    float: right;
}

#fmission {
    width: 60%;
    height: 250px;
    margin: 100px 0px 0px 75px;
    font-style: italic;
    margin-bottom: 50px;
    opacity: .5;
    font-size: .875em;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #0088cc;
    padding: 10px;
    vertical-align: middle;
}

#footerpic{
    color:  #0088cc;
}

#seal{
    float: right;
    padding-top: 5%;
    margin-left: 10%;
}