/* CSS code  */
ul{
    list-style-type: none;
    display: inline;
}

ul li{
    padding: 5px 10px;
    display: inline;
}

#one{
    background-color: #10243B;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 11pt;
}
#two{
    background-color: #10243B;
    text-transform: uppercase;
    color: #a3dde8;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
}

#blue{
    background-color: #0088cc;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
}

img{
    vertical-align: middle;
}